html, body {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  height: 100vh;
  background-image: radial-gradient(blue, navy);
  background-color: navy;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  padding: 40px 0px;
}

a:link, a:visited {
  color: #fff;
}

table {
  margin: 0 auto 15px;
  border-collapse: collapse;
}

td, th {
  padding: 5px;
}

tr {
  border-bottom: 1px solid #d8d8d8;
}

#next-period {
  margin-bottom: 40px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}